@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

@utility debug {
  @apply outline-1 outline-solid outline-amber-500;
}

@utility rounded-bubble {
  @apply rounded-[1000px];
}

@utility wh-full {
  @apply h-full w-full;
}
@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-start-center {
  @apply flex items-start justify-center;
}
@utility flex-end-center {
  @apply flex items-end justify-center;
}
@utility flex-center-end {
  @apply flex items-center justify-end;
}
@utility flex-center-start {
  @apply flex items-center justify-start;
}
